input[type='radio'] {
  display: none;
}

.content {
  height: 3rem;
  width: 7.25rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: .25rem;

  background: var(--very-dark-cyan);
  color: var(--white);

  transition: all .2s;

  &:hover {
    background: var(--light-strong-cyan);
    color: var(--very-dark-cyan);
    cursor: pointer;
  }
}

input:checked ~ label > .content {
  background: var(--strong-cyan);
  color: var(--very-dark-cyan);

  &:hover {
    background: var(--light-strong-cyan);
    color: var(--very-dark-cyan);
    cursor: pointer;
  }
}
